body {
  background: #1f6f78;
  color: #93e4c1;
}
.App {
  max-width: 960px;
  margin: 0 auto;
}

.studentName {
  color: #6b62ff;
  font-weight: 700;
}
.sheCodes {
  color: #fd729b;
  font-weight: 700;
}
